<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
    .logout{
        float:right;
        background:#29507b;
        padding:10px 30px;
        border-radius: 4px;

    }
    .logout a:hover{
        color:yellow;
        text-decoration: none;
    }
    .logout a{
        color:#fff;
        text-decoration: none;
    }
    .center{
        text-align: center;
    }
</style>
<body>
    <div class="logout">
    <a href="/polls/login">Logout</a>
    </div>
    <h1><a href="/polls/form">Upload photo</a></h1>
    <div class="center">
    {% for img in object_list%}
    <h1>{{img.title}}</a></h1>
    <a href="/polls/about/{{img.id}}"><img src="{{img.image.url}}" width="540"></a>
    {% empty %}
        <li>No image yet</li>
    {% endfor %}
    </div>
</body>
</html>