<!-- <h2>Login</h2>
  <form method="post" action=''>
    {% csrf_token %}
    Name:<input type="text" name="name" placeholder="Name">
    Password:<input type="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
  </form> -->
  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
    <a href="/polls/signup">Signup</a>
  </form>
  </body>
  </html>